<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autosize">

    <application>
        <provider
            android:name="com.example.autosize.config.InitProvider"
            android:authorities="${applicationId}.autosize-init-provider"
            android:exported="false"
            android:multiprocess="true"/>
    </application>
</manifest>
